<main>
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Sidebar -->
    <app-menu></app-menu>

    <!-- Contenido de la página -->
    <div id="contenido-wrapper" class="container-fluid">
        <!-- Barra de búsqueda -->
        <div class="row mt-2 mb-2">
            <form id="form-buscar" class="form-inline d-flex justify-content-center">
                <div class="p-2 form-group align-self-center">
                    <label class="sr-only">Buscar canciones:</label>
                    <input id="txt-buscar" type="search" class="form-control" placeholder="Buscar por nombre, origen o extras.">
                </div>

                <div class="p-2 align-self-center">
                    <button type="submit" class="btn btn-primary">
                        <span data-feather="search"></span>
                    </button>
                </div>
            </form>
        </div>

        <!-- Resultados de búsqueda -->
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Extra</th>
                                <th>Emoción Específica</th>
                                <th>Lugar</th>
                                <th>Partida</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cancion of canciones">
                            <!-- <tr> -->
                                <td><p>{{ cancion.nombre }}</p></td>
                                <td><p>{{ cancion.extras }}</p></td>
                                <td><p>{{ cancion.emocion.nombre }}</p></td>
                                <td><p>{{ cancion.lugar.nombre }}</p></td>
                                <td><p>{{ cancion.partida }}</p></td>
                                <!-- <td><p>cancion.nombre</p></td>
                                <td><p>cancion.extra</p></td>
                                <td><p>cancion.emocion</p></td>
                                <td><p>cancion.lugar</p></td>
                                <td><p>cancion.partida</p></td>  -->
                                <td id="botones">
                                    <button (click)="reproducir(cancion.id)" class="btn btn-primary btn-sm m-1">
                                        <span data-feather="play"></span>
                                    </button>

                                    <button class="btn btn-primary btn-sm m-1">
                                        <span data-feather="plus"></span>
                                    </button>

                                    <button class="btn btn-primary btn-sm m-1">
                                        <span data-feather="edit"></span>
                                    </button>

                                    <button class="btn btn-primary btn-sm m-1">
                                        <span data-feather="trash-2"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>